/* Layout for dashboard home */
.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  margin-left: 80px; /* sidebar width */
  padding: 2rem 2rem;
  flex: 2;
}

.home-header{
  margin-left: 80px; /* sidebar width */
  flex: 2;
  height: 250px;
  width: auto;
  background-image: url("/images/home-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.col {
  flex: 1;
}

.col.wide {
  flex: 2;
}
