/* The container to center the spinner */
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  gap: 12px;
}

/* The actual spinner */
.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray background circle */
  border-left-color: #fa8c43;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner-container p {
  margin: 0; /* Clears default paragraph margins for precise spacing */
  font-weight: 700;
  color: #333;
}
/* The animation logic */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}