.overview {
  color: #ffffff;
  padding: 2rem;
  position: relative;
}

.greeting {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.temperatureContainer{
  width: 200px;
  height: 150px;
  background-color: #FFF8F814;
  border-radius: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

.date {
  font-size: 1.2rem;
  font-weight: 500;
}

.temperature {
  font-size: 4rem;
  font-weight: 700;
}

.feels {
  font-size: 1rem;
  font-weight: 500;
}

.metrics {
  position: absolute;
  top: 3rem;
  right: 2rem;
  text-align: right;
  font-size: 0.9rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.metricsContainer{
  width: 200px;
  height: 50px;
  background-color: #FFF8F825;
  border-radius: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
